* {
  background-color: #262626;
  text-align: center;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}
.img1 {
  float: right; 
  margin: 0px 5px 5px 5px;
  width: 400px;
}
.row {
  display: flex;  
  justify-content: space-evenly;
}
.yeehaw {
  float:left;
  width: 25%;
  padding: 5px;
}
.nextto {
  text-align: left;
}
body {
  color: white;
}
h1 {
  font-size: 50px;
  padding: 40px;
  background-color: #1a1a1a;
  border: 6px solid white;
  border-radius: 25px;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  margin: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  flex-direction: row;
  border: 4px solid #ffffff;
  background-color: #1a1a1a;
  align-items: center;
  border-radius: 25px;
}
.box {
  background-color: #1a1a1a;
  padding: 10px;
}
