body { 
    font-family: courier ;
    background-color: BFFFF1 ;
    }
h3 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    font-color: black;
    border-style: solid;
    }
