body { 
    font: small caps Sans-Serif ;
    background-color: BFFFF1 ;
    }
* {
    text-align: center;
}
h3 {
    font: italic;
    text-align: left;
}
p {
    font-color: black;
    border-style: solid;
    }
